<h1>League of Girls</h1>

<div class="row">


    <div class="col-xs-12 col-lg-8 margin-bottom" ng-if="ctrl.featured === undefined || ctrl.featured.id === undefined">
        <div class="no-feature">
            <h2>{{'Was ist League of Girls?'}}</h2>
            <p class="lead" translate>
                League of Girls” rückt Spielerinnen ins Zentrum und gibt Einblicke in die weibliche Gaming Szene. Unser Schwerpunkt liegt dabei auf E-Sport und Streaming, wobei jedoch alle Beiträge rund um Gaming willkommen sind. Werdet Teil der “League of Girls” Community und helft uns dabei, E-Sport stärker in der Gesellschaft zu verankern - female AND male players are welcome!
            </p>
            <a class="btn btn-success btn-lg"  ui-sref="login.login" ui-sref-active="active">
                {{'Anmelden' | translate}}
            </a>
            <span translate>oder</span>
            <a class="btn btn-success btn-lg"  ui-sref="login.register" ui-sref-active="active">
                {{'jetzt registieren' | translate}}
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin-bottom" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
        <h2>{{'Was ist League of Girls?'}}</h2>
        <p class="lead" translate>
            League of Girls” rückt Spielerinnen ins Zentrum und gibt Einblicke in die weibliche Gaming Szene. Unser Schwerpunkt liegt dabei auf E-Sport und Streaming, wobei jedoch alle Beiträge rund um Gaming willkommen sind. Werdet Teil der “League of Girls” Community und helft uns dabei, E-Sport stärker in der Gesellschaft zu verankern - female AND male players are welcome!
        </p>
        <a class="btn btn-success btn-lg"  ui-sref="login.login" ui-sref-active="active">
            {{'Anmelden' | translate}}
        </a>
        <span translate> oder </span>
        <a class="btn btn-success btn-lg"  ui-sref="login.register" ui-sref-active="active">
            {{'jetzt registieren' | translate}}
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
        <h4>{{'Feature'|translate}}</h4>
        <news-overview mode="featured"></news-overview>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <h4>{{'Aktuelle News'|translate}}</h4>
        <news-overview mode="list"></news-overview>
    </div>
</div>
