<div class="user-account">

       <div class="user-headline">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-8 user-headline-name">
                <span class="user-headline-name-element" contenteditable="true" strip-br="true" ng-model="myaccountEdit.user.username">{{myaccountEdit.user.username}}</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 user-headline-connect">
                <button ng-disabled="myaccountEdit.changeDetected !== true" ng-click="myaccountEdit.save($event,myaccountEdit.user)" class="btn btn-outline-success float-right">{{'Speichern'|translate}}</button>
            </div>

          </div>
       </div>

       <div class="user-account-header">
          <div class="user-account-avatar">
              <button class="user-account-avatar-chooser" ng-click="myaccountEdit.chooseAvatar($event)"><i class="fas fa-images"></i></button>
              <upload-button url="/api/users/current/avatars" accept="myaccountEdit.acceptTypes" on-success="myaccountEdit.avatarUpdated(response)" param="file" id="user-avatar-upload"><img ng-if="myaccountEdit.imagePath !== ''" ng-src="{{myaccountEdit.imagePath}}" alt="Useravatar" /></upload-button>
          </div>
          <div class="user-account-about">
              <div class="user-account-about-txt" contenteditable="true" ng-model="myaccountEdit.user.about"></div>
          </div>
       </div>

       <div class="user-content">

           <h2>{{ 'Funktionen' | translate }}</h2>

           <div class="user-functions margin-bottom">
              <button ng-click="myaccountEdit.exportAccount($event,myaccountEdit.user.uuid)" class="btn btn-outline-success">{{'Daten exportieren'|translate}}</button>
              <button ng-click="myaccountEdit.deleteAccount($event,myaccountEdit.user.uuid)" class="btn btn-outline-danger">{{'Konto löschen'|translate}}</button>
           </div>

           <h2>{{ 'Allgemein' | translate }}</h2>

           <formly-form model="myaccountEdit.user" fields="myaccountEdit.fieldsGeneral">

           <formly>

           <h2>{{ 'Zugangsdaten' | translate }}</h2>

           <formly-form model="myaccountEdit.user" fields="myaccountEdit.fields">

           <formly>

           <hr>

           <h2>{{ 'Newsletter' | translate }}</h2>

           <formly-form model="myaccountEdit.user" fields="myaccountEdit.fieldsNewsletter">

           <formly>

           <hr>

           <h2>{{ 'Spiele' | translate }}</h2>

           <ul class="games">
              <li class="game-item" ng-class="myaccountEdit.getClass(game.id)" ng-repeat="game in myaccountEdit.games" ng-init="myaccountEdit.toggleGame(game.id,true)">
                <input type="checkbox" ng-model="game.active" ng-click="myaccountEdit.toggleGame(game.id)">
                {{game.name}}
                (<select ng-if="myaccountEdit.skillOptions.length > 0 && game.skill !== undefined" ng-model="game.skill" class="meet-filter-select" ng-options="obj as obj.label for obj in myaccountEdit.skillOptions track by obj.skill">

                </select>)
              </li>
           </ul>

           <h2>{{ 'Kategorien' | translate }}</h2>

          <ul class="categories">
             <li class="category-item" ng-class="myaccountEdit.getCategoryClass(category.id)" ng-repeat="category in myaccountEdit.categories" ng-click="myaccountEdit.toggleCategory(category.id)">{{category.label}}</li>
          </ul>

           <h2>{{ 'Kommunikation' | translate }}</h2>

           <ul class="commnunications">
              <li class="communication-item form" ng-class="myaccountEdit.getCommuniationClass(communication.id)" ng-repeat="communication in myaccountEdit.communications" ng-init="myaccountEdit.toggleCommunication(communication.id,true)">
                <div class="input-group">
                   <div class="input-group-addon" ng-click="myaccountEdit.toggleCommunication(communication.id)"> <i class="{{communication.icon}}" title="{{communication.name}}"></i></div>
                   <input type="text" class="form-control" ng-model="communication.value" placeholder="{{communication.placeholder}}">
                   <span class="dsgvo_public"><input type="checkbox" class="form-dsgvo-check" ng-model="communication.public">{{'Öffentlich sichtbar'|translate}}</span>
                 </div>
                 <small ng-if="communication.help !== undefined" class="text-muted">{{communication.help}}</small>
              </li>
           </ul>

           <h2>{{ 'Plattformen' | translate }}</h2>

           <ul class="plattforms">
              <li class="plattform-item form" ng-class="myaccountEdit.getPlattformClass(plattform.id)" ng-repeat="plattform in myaccountEdit.plattforms" ng-init="myaccountEdit.togglePlattform(plattform.id,true)">
                <div class="input-group">
                   <div class="input-group-addon" ng-click="myaccountEdit.togglePlattform(plattform.id)"> <i class="{{plattform.icon}}" title="{{plattform.name}}"></i></div>
                   <input type="text" class="form-control" ng-model="plattform.value" placeholder="{{plattform.placeholder}}">
                   <span class="dsgvo_public"><input type="checkbox" class="form-dsgvo-check" ng-model="plattform.public">{{'Öffentlich sichtbar'|translate}}</span>
                 </div>
                 <small ng-if="plattform.help !== undefined" class="text-muted">{{plattform.help}}</small>
              </li>
           </ul>

           <h2>{{ 'Links und Profile' | translate }}</h2>

           <ul class="links">
              <li class="link-item form" ng-class="myaccountEdit.getLinkClass(link.id)" ng-repeat="link in myaccountEdit.links" ng-init="myaccountEdit.toggleLink(link.id,true)">
                <div class="input-group">
                   <div class="input-group-addon" ng-click="myaccountEdit.toggleLink(link.id)"> <i class="{{link.icon}}" title="{{link.name}}"></i></div>
                   <input type="text" class="form-control" ng-model="link.value" placeholder="{{link.placeholder}}">
                   <span class="crawler_setup"><input type="checkbox" class="form-crawler" ng-model="link.allow_crawler">{{'Im Newsstream berücksichtigen'|translate}}</span>
                 </div>
                 <small ng-if="link.help !== undefined" class="text-muted">{{link.help}}</small>
              </li>
           </ul>

       </div>

</div>
