<div class="user-account">

       <div class="user-headline">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6 user-headline-name">
                <span class="user-headline-name-element">{{account.user.username}}</span> - <span translate translate-n="account.user.points" translate-plural="{{$count}} Punkte">1 Punkt</span> - 
                <span class="user-headline-gender">
                    <i ng-if="account.user.gender === 'female'" class="fas fa-venus"      title="{{'Weiblich' | translate}}"></i>
                    <i ng-if="account.user.gender === 'male'"   class="fas fa-mars"       title="{{'Männlich' | translate}}"></i>
                    <i ng-if="account.user.gender === 'misc'"   class="fas fa-genderless" title="{{'Divers' | translate}}"></i>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6 user-headline-connect">
                <user-connect user-id="{{account.userId}}"></user-connect>
            </div>
          </div>
       </div>

       <div class="user-account-header">
          <div class="user-account-avatar">
              <img ng-src="{{account.imagePath}}" alt="Useravatar" />
          </div>
          <div class="user-account-about">
              <div class="user-account-about-txt" compile="account.user.about"></div>
              <div class="user-account-edit" ng-if="account.editable === true">
                  <a  ui-sref="app.user.myaccount.edit" ui-sref-active="active"><i class="fas fa-pencil-alt"></i></a>
              </div>
          </div>
       </div>

       <div class="user-content">

          <div class="admin_actions margin-bottom" ng-if="account.currentUser.permissions.indexOf('Admin') > -1">
            <button ng-if="account.currentUser.permissions.indexOf('Admin') > -1 && account.user.locked === false"   ng-click="account.updateUser(account.user.uuid,'locked',!account.user.locked)"   class="btn btn-danger btn-block">{{'Sperren'|translate}}</button>
            <button ng-if="account.currentUser.permissions.indexOf('Admin') > -1 && account.user.locked === true"    ng-click="account.updateUser(account.user.uuid,'locked',!account.user.locked)"   class="btn btn-success btn-block">{{'Entsperren'|translate}}</button>
            <button ng-if="account.currentUser.permissions.indexOf('Admin') > -1 && account.user.trusted === true"   ng-click="account.updateUser(account.user.uuid,'trusted',!account.user.trusted)" class="btn btn-danger btn-block">{{'Vertauen entziehen'|translate}}</button>
            <button ng-if="account.currentUser.permissions.indexOf('Admin') > -1 && account.user.trusted === false"  ng-click="account.updateUser(account.user.uuid,'trusted',!account.user.trusted)" class="btn btn-success btn-block">{{'Benutzer vertrauen'|translate}}</button>
          </div>

          <h2>{{ 'Spiele' | translate }}</h2>

          <ul class="games">
             <li class="game-item" ng-class="account.getClass(game.id)" ng-repeat="game in account.games">{{game.name}}</li>
          </ul>

          <h2>{{ 'Kommunikation' | translate }}</h2>

          <ul class="commnunications">
             <li class="communication-item" ng-class="account.getCommunicationClass(communication.id)" ng-repeat="communication in account.commnunications">
               <i class="{{communication.icon}}" title="{{communication.name}}"></i>
               <span compile="account.getAttributeData('communications','communication_id',communication)"></span>
             </li>
          </ul>

          <h2>{{ 'Plattformen' | translate }}</h2>

          <ul class="plattforms">
             <li class="plattform-item" ng-class="account.getPlattformClass(plattform.id)" ng-repeat="plattform in account.plattforms">
               <i class="{{plattform.icon}}" title="{{plattform.name}}"></i>
               <span compile="account.getAttributeData('plattforms','plattform_id',plattform)"></span>
             </li>
          </ul>

          <h2>{{ 'Links und Profile' | translate }}</h2>

          <ul class="links">
             <li class="link-item active" ng-if="account.checkVisiblilty('links','link_id',link.id)" ng-repeat="link in account.links"><i class="{{link.icon}}" title="{{link.name}}"></i> <span compile="account.renderLink('links','link_id',link.id,link)"></span></li>
             <li class="link-item" ng-if="account.linksAmount === 0">{{ 'Keine Links oder Profile verfügbar.' |translate }}</li>
          </ul>

       </div>

</div>
