<div class="messagesModal">

    <div class="messages-list-container">

        <div class="messages-headline">
            <h2 compile="modal.headline"></h2>
        </div>

        <ul class="chats-list">
           <li class="chat-item" ng-repeat="chat in modal.chats track by modal.uuid">
             <div class="media">
               <img class="mr-3 chat-avatar" ng-class="modal.openProfileClass()" ng-src="{{modal.getAvatarPath(chat.message)}}" ng-click="modal.openProfile($event, message.user)">
               <div class="media-body">
                 <div class="chat-header">
                     <span class="username" ng-class="modal.openProfileClass()" ng-click="modal.openProfile($event, chat.message.user)">{{chat.message.user.username}} {{'schrieb'|translate}}:
                 </div>
                 <div class="chat-subheader">
                     {{ modal.MOMENT(chat.message.created).fromNow() }}
                 </div>
               </div>
               <div class="ml-3">
                  <button class="btn btn-outline-default" ng-click="modal.read(chat)">{{'Lesen'}}</button>
               </div>
             </div>
           </li>
        </ul>
    </div>

</div>
