<div class="news news_submit">
   <div class="row">
     <div class="col-xs-12 col-lg-12">

       <h1>{{'News einreichen' | translate}}</h1>

       <p class="lead">{{'Bitte fülle alle Felder aus damit wir die News automatisch veröffentlichen können. Bitte beachte, dass wir nur Elemente veröffentlichen die mit der weiblichen E-Sport Szene in Verbindung stehen.'|translate}}</p>

       <form class="news-submit-form" ng-submit="ctrl.submit(login.fieldData)" name="news.submit.form">
         <formly-form model="ctrl.fieldData" fields="ctrl.fields">

             <!-- ERRORS -->

             <div class="errors error-list-container" ng-if="ctrl.errors.length > 0">
               <ul class="error-list">
                 <li class="error-list-item" ng-repeat="error in ctrl.errors">{{error}}</li>
               </ul>
             </div>

             <!-- SUBMIT CONTAINER -->

             <div class="submit_container">
                 <button type="submit" class="btn btn-outline-success float-right" ng-disable="login.loading">{{ 'News einreichen' | translate }}</button>
             </div>

         </formly-form>
       </form>

     </div>
   </div>
</div>
