<h1 translate>Unterstützer und Partner</h1>
<div class="partner-list">
    <div class="partner">
        <div class="partner-infos">
            <h2>PICAPIPE GmbH</h2>
            <a href="https://picapipe.com">picapipe.com</a>

        </div>
        <div class="partner-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
            dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
            perspiciatis. Libero, maxime.
        </div>
        <a href="https://picapipe.com"><img src="img/logos/pp-logo-h-standard.svg"></a>
    </div>

    <div class="partner">
        <div class="partner-infos">
            <h2>Netidee</h2>
            <a href="https://netidee.at">netidee.at</a>

        </div>
        <div class="partner-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
            dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
            perspiciatis. Libero, maxime.
        </div>
        <a href="https://netidee.at"><img src="https://www.netidee.at/themes/Netidee/images/netidee-logo-color.svg"></a>
    </div>

    <div class="partner">
            <div class="partner-infos">
                <h2>Donau-Universität Krems</h2>
                <a href="https://www.donau-uni.ac.at">www.donau-uni.ac.at</a>
    
            </div>
            <div class="partner-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
                dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
                perspiciatis. Libero, maxime.
            </div>
            <a href="https://www.donau-uni.ac.at"><img src="img/logos/duk-logo.svg"></a>
        </div>

</div>