<h1 translate>Unterstützerinnen</h1>
<div class="partner-list">
    <div class="partner">
        <div class="partner-infos">
            <h2>PICAPIPE GmbH</h2>
            <a href="https://picapipe.com">picapipe.com</a>

        </div>
        <div class="partner-text">
                Die Projekte von Picapipe zielen darauf ab, den Puls der Zeit richtig zu deuten und gezielt innovative Ansätze bzw. Lösungen für laufende Trends zu entwickeln. So wollen wir auch im Bereich E-Sport Neuland betreten und diesen für die weibliche Zielgruppe öffnen, indem wir uns für mehr Diversity einsetzen. Mit „League of Girls“ soll der Einstieg in die Szene mittels eines vielfältigen News Streams und der Vernetzungsfunktion mit anderen Spielerinnen einfach möglich sein.
        </div>
        <a href="https://picapipe.com"><img src="img/logos/pp-logo-h-standard.svg"></a>
    </div>

    <div class="partner">
        <div class="partner-infos">
            <h2>Netidee</h2>
            <a href="https://netidee.at">netidee.at</a>

        </div>
        <div class="partner-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
            dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
            perspiciatis. Libero, maxime.
        </div>
        <a href="https://netidee.at"><img src="https://www.netidee.at/themes/Netidee/images/netidee-logo-color.svg"></a>
    </div>

    <div class="partner">
            <div class="partner-infos">
                <h2>
                    Donau-Universität Krems
                    <p>Zentrum für angewandte Spieleforschung</p>
                </h2>
                <a href="https://www.donau-uni.ac.at/ags">donau-uni.ac.at/ags</a>
    
            </div>
            <div class="partner-text">
                Ein gender- und diversity-gerechter Ansatz wird in allen Aspekten unserer Lehre und Forschung groß geschrieben. Daher unterstützen wir natürlich auch gerne das Projekt League of Girls. Mit dem Sichtbarmachen von weiblichen Role Models sowie die gezielte Förderung von Gamerinnen kann League of Girls wesentlich dazu beitragen, langfristig mehr Diversität in die Gaming & E-Sport Szene zu bringen. 
            </div>
            <a href="https://www.donau-uni.ac.at/ags"><img src="img/logos/duk-logo.svg"></a>
        </div>

</div>