<h1 translate>Unterstützerinnen</h1>
<div class="partner-list">
    <div class="partner">
        <div class="partner-infos">
            <h2>PICAPIPE GmbH</h2>
            <a href="https://picapipe.com">picapipe.com</a>

        </div>
        <div class="partner-text">
            Die Themen Spiele, Gamification und Gleichstellung ziehen sich wie ein roter Faden durch viele Projekte der Picapipe. Der Wunsch nach Veränderung im Bereich e-Sport hat das Team dazu veranlasst, keine Zeit und Mühen zu scheuen um den Einstieg und die Vernetzung für Spielerinnen zu vereinfachen.
        </div>
        <a href="https://picapipe.com"><img src="img/logos/pp-logo-h-standard.svg"></a>
    </div>

    <div class="partner">
        <div class="partner-infos">
            <h2>Netidee</h2>
            <a href="https://netidee.at">netidee.at</a>

        </div>
        <div class="partner-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
            dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
            perspiciatis. Libero, maxime.
        </div>
        <a href="https://netidee.at"><img src="https://www.netidee.at/themes/Netidee/images/netidee-logo-color.svg"></a>
    </div>

    <div class="partner">
            <div class="partner-infos">
                <h2>
                    Donau-Universität Krems
                    <p>Zentrum für angewandte Spieleforschung</p>
                </h2>
                <a href="https://www.donau-uni.ac.at/ags">donau-uni.ac.at/ags</a>
    
            </div>
            <div class="partner-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro commodi eos modi iusto ad. Nihil sit
                dignissimos suscipit, et deleniti, ad voluptate assumenda possimus quas exercitationem repudiandae
                perspiciatis. Libero, maxime.
            </div>
            <a href="https://www.donau-uni.ac.at/ags"><img src="img/logos/duk-logo.svg"></a>
        </div>

</div>