<div class="start">
    <div class="video-bg" ng-switch="$root.$currentGame.id">

        <!-- Dota2 -->
        <video-player ng-switch-when="c575adf9-57d2-4c2b-b63d-9c69ae9b1db3" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-lol_old.mp4"></video-player>

        <!-- Clash Royale -->
        <video-player ng-switch-when="4207b837-3124-4505-b061-deb3c7628f14" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-clashroyale.mp4"></video-player>

        <!-- CSGO -->
        <video-player ng-switch-when="c4f13144-6283-4457-84a5-60dec44b620e" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-csgo.mp4"></video-player>

        <!-- Fortnite -->
        <video-player ng-switch-when="40c0f4ed-5e98-4bca-bc71-498d1fd65ca4" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-fortnite.mp4"></video-player>

        <!-- FIFA -->
        <video-player ng-switch-when="48f27281-4f4e-4b86-92ba-9fa334cc395a" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-fifa.mp4"></video-player>

        <!-- LOL -->
        <!-- <video-player ng-switch-when="97c79fd5-0fab-40fc-bf85-b60f6fd315f2" player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-lol.mp4"></video-player> -->

        <video-player ng-switch-default player-class="video-main" muted="true" loop="true" loopStart="4" source="img/videos/log-lol.mp4"></video-player>


    </div>
    <div class="slant slant-video">
        <div class="slant-inner"></div>
    </div>

    <div class="intro">
        <h1>
            <span>{{ $root.$currentGame.id === 'ALL' ? 'Interessiert an e-Sport?' : 'Interessiert an ' + $root.$currentGame.long + '?' }} </span>
        </h1>
        <article>
            <h3 translate>Holt euch die aktuellsten News rund um Gaming/E-Sport & folgt den wichtigsten Streamerinnen</h3>
            <ul>
                <li translate>Du möchtest E-Sportlerin werden?</li>
                <li translate>Du suchst nach Mentor*innen, Insider*innen oder möchtest dich mit Gleichgesinnten austauschen?</li>
                <li translate>Du bist schon länger in der deutschsprachigen E-Sport & Gaming Szene, möchtest deine Erfahrungen teilen und neue Leute kennenlernen?</li>
                <li translate>Du bist Journalist*in, Forscher*in oder anderweitig am Thema E-Sport interessiert und suchst nach Kontakten in der Szene?</li>
                <li translate>Du bist Gamerin und streamst auf Twitch oder führst einen YouTube Kanal? Du kennst einen spannenden Blog-Beitrag rund um Gender, Diversity, E-Sport & Gaming? <strong>Schlag deinen Twitch Channel, Social Media Kanal oder Artikel für unseren NEWS Stream vor!</strong></li>
                <li translate>Du möchtest dich rund um E-Sport, den wichtigsten Games oder den Beiträgen in unserem NEWS Channel austauschen? <strong>Nutze unsere CHAT Funktion!</strong> <br> Du möchtest dich für mehr Diversität in der E-Sport & Gaming Szene einsetzen? <br> <strong>Werde Teil der League of Girls Community!</strong></li>
            </ul>
            <p translate> <strong>Erstelle dir ein League of Girls MEET Profil und vernetze dich!</strong></p>
      
        </article>
        <div class="action">
            <button class="btn btn-outline-success" ui-sref="login.register" ui-sref-active="active">Jetzt mitmachen!</button><br>
            <span translate>oder</span>
            <a class="btn btn-success btn-lg" ui-sref="login.login" ui-sref-active="active">
                {{'Einloggen' | translate}}
            </a>
        </div>
    </div>
    <div class="slant slant-intro">
        <div class="slant-inner"></div>
    </div>
    <div class="start-news">
        <h2>{{'Immer aktuelle News-Beiträge'|translate}}</h2>
        <div class="start-news-featured" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
            <h4>{{'Feature'|translate}}</h4>
            <news-overview mode="featured"></news-overview>
        </div>
        <div class="start-news-aktuell">
            <h4>{{'Aktuelle News'|translate}}</h4>
            <news-overview mode="list"></news-overview>
        </div>
    </div>


</div>