<div class="start">
    <div class="video-bg">
        <video autoplay loop class="video-main" muted>
            <source src="img/videos/log-lol.mp4" type="video/mp4">
        </video>
    </div>
    <div class="slant slant-video">
        <div class="slant-inner"></div>
    </div>

    <div class="intro">
        <h1>
            <span>{{ $root.$currentGame.id === 'ALL' ? 'Interessiert an e-Sport?' : 'Interessiert an ' + $root.$currentGame.long + '?' }} </span>
                <!-- <span ng-if="$root.$currentGame.id === ALL; else all-games">Interessiert an e-Sport?</span> -->
        </h1>
        <article>
            <h3 translate>Holt euch die aktuellsten News rund um Gaming/E-Sport & folgt den wichtigsten Streamerinnen</h3>
            <ul>
                <li translate>Du bist Gamerin und möchtest zeigen, was du kannst?</li>
                <li translate>Du möchtest professionelle E-Sportlerin werden?</li>
                <li translate>Du möchtest dich in der deutschsprachigen E-Sport & Gaming Szene vernetzen?</li>
                <li translate>Du möchtest dich für mehr Diversität in der E-Sport & Gaming Szene einsetzen?</li>
            </ul>
            <p translate> Dann werde Teil der <strong>League of Girls</strong> Community!</p>
        </article>
        <div class="action">
            <button class="btn btn-outline-success" ui-sref="login.register" ui-sref-active="active">Jetzt mitmachen!</button><br>
            <span translate>oder</span>
            <a class="btn btn-success btn-lg" ui-sref="login.login" ui-sref-active="active">
                {{'Einloggen' | translate}}
            </a>
        </div>
    </div>
    <div class="slant slant-intro">
        <div class="slant-inner"></div>
    </div>
    <div class="start-news">
        <h2>{{'Immer aktuelle News-Beiträge'|translate}}</h2>
        <div class="start-news-featured" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
            <h4>{{'Feature'|translate}}</h4>
            <news-overview mode="featured"></news-overview>
        </div>
        <div class="start-news-aktuell">
            <h4>{{'Aktuelle News'|translate}}</h4>
            <news-overview mode="list"></news-overview>
        </div>
    </div>


</div>

<!-- <h1>League of Girls</h1>

<div class="row">


    <div class="col-xs-12 col-lg-8 margin-bottom" ng-if="ctrl.featured === undefined || ctrl.featured.id === undefined">
        <div class="no-feature">
            <h2>{{'Was ist League of Girls?'}}</h2>
            <p class="lead" translate>
                League of Girls” rückt Gamerinnen ins Zentrum und gibt Einblicke in die weibliche Gaming Szene. Unser Schwerpunkt liegt dabei auf E-Sport und Streaming, wobei jedoch alle Beiträge rund um Gaming willkommen sind. Werdet Teil der “League of Girls” Community und helft uns dabei, E-Sport stärker in der Gesellschaft zu verankern - female AND male players are welcome!
            </p>
            <a class="btn btn-success btn-lg"  ui-sref="login.login" ui-sref-active="active">
                {{'Anmelden' | translate}}
            </a>
            <span translate>oder</span>
            <a class="btn btn-success btn-lg"  ui-sref="login.register" ui-sref-active="active">
                {{'jetzt registieren' | translate}}
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin-bottom" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
        <h2>{{'Was ist League of Girls?'}}</h2>
        <p class="lead" translate>
            League of Girls” rückt Gamerinnen ins Zentrum und gibt Einblicke in die weibliche Gaming Szene. Unser Schwerpunkt liegt dabei auf E-Sport und Streaming, wobei jedoch alle Beiträge rund um Gaming willkommen sind. Werdet Teil der “League of Girls” Community und helft uns dabei, E-Sport stärker in der Gesellschaft zu verankern - female AND male players are welcome!
        </p>
        <a class="btn btn-success btn-lg"  ui-sref="login.login" ui-sref-active="active">
            {{'Anmelden' | translate}}
        </a>
        <span translate> oder </span>
        <a class="btn btn-success btn-lg"  ui-sref="login.register" ui-sref-active="active">
            {{'jetzt registieren' | translate}}
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-if="ctrl.featured !== undefined && ctrl.featured.id !== undefined ">
        <h4>{{'Feature'|translate}}</h4>
        <news-overview mode="featured"></news-overview>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <h4>{{'Aktuelle News'|translate}}</h4>
        <news-overview mode="list"></news-overview>
    </div>
</div>
 -->