/src/node_modules
/src/public/hot
/src/public/storage
/src/public/js
/src/public/js/*
/src/public/mix-manifest.json
/src/public/css
/src/public/webfonts/*
/src/public/fonts/*
/src/public/img/icons/*
/src/public/img/avatars/*
/src/storage/*.key
/src/storage/avatars/*
/src/storage/debug/*
/src/storage/exports/
/src/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/src/.env
.DS_Store
/**/.DS_Store
