.games
{
    list-style: none;
    padding:    0;
    margin:     0;
}

.game-item
{
    list-style:    none;
    padding:       5px 10px;
    margin:        0 10px 10px 0;
    border:        1px solid $input-border-color;
    display:       inline-block;
    border-radius: $border-radius;
    opacity:       0.2;

    &.active
    {
       opacity: 1;
    }

}
