@font-face {
	font-family: "icons-standard";
	src: url("../../../public/webfonts/icons-standard.eot?d9772e9aa9d49bedff3b26883b7d4bae?#iefix") format("embedded-opentype"),
url("../../../public/webfonts/icons-standard.woff2?d9772e9aa9d49bedff3b26883b7d4bae") format("woff2"),
url("../../../public/webfonts/icons-standard.woff?d9772e9aa9d49bedff3b26883b7d4bae") format("woff"),
url("../../../public/webfonts/icons-standard.ttf?d9772e9aa9d49bedff3b26883b7d4bae") format("truetype"),
url("../../../public/webfonts/icons-standard.svg?d9772e9aa9d49bedff3b26883b7d4bae#icons-standard") format("svg");
}

.log-icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.log-icon:before {
	font-family: icons-standard !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.log-icon-burgermenu:before {
	content: "\f101";
}
.log-icon-check:before {
	content: "\f102";
}
.log-icon-close:before {
	content: "\f103";
}
.log-icon-edit:before {
	content: "\f104";
}
.log-icon-fav_off:before {
	content: "\f105";
}
.log-icon-fav_on:before {
	content: "\f106";
}
.log-icon-game:before {
	content: "\f107";
}
.log-icon-info:before {
	content: "\f108";
}
.log-icon-link-open:before {
	content: "\f109";
}
.log-icon-message:before {
	content: "\f10a";
}
.log-icon-no:before {
	content: "\f10b";
}
.log-icon-offline:before {
	content: "\f10c";
}
.log-icon-online:before {
	content: "\f10d";
}
.log-icon-person:before {
	content: "\f10e";
}
.log-icon-speak:before {
	content: "\f10f";
}
