#header {

    padding-top: 50px;
    font-family: 'Roboto', sans-serif;

}

.container
{
      position: relative;
    //   max-width: 1200px;
}

.margin-bottom
{
  margin-bottom:  15px;
}

#footer
{

    margin-top:     20px;
    padding-top:    20px;
    padding-bottom: 20px;
    border-top:     1px solid $CI-COLOR9;
}

@include media-breakpoint-down(sm) {
    body
    {
       padding: 0 20px;
    }
}

.clear {
    clear: both;
}
