$plattform-active-color: $CI-COLOR7;

.plattforms
{
    list-style: none;
    padding:    0;
    margin:     0;
}

.plattform-item
{
    list-style:    none;
    margin:        0 10px 10px 0;
    display:       inline-block;
    opacity:       0.4;

    &.form
    {
      display:block;
    }

    &.active
    {
       opacity: 1;
       color:   $plattform-active-color;
       a 
       {
        color:   $plattform-active-color;
       }
    }

    .text-muted {
       color:#444!important;
    }

    &:not(.active)
    {
        .text-muted {
           color:#444!important;
        }
    }

    .input-group-addon
    {
       i {
         font-size:130%;
       }
    }

}
