$news-avatar-size: 180px;
$news-border:      1px solid $CI-COLOR3;

$news-filter-label-color: $CI-COLOR4;
$news-filter-value-color: $CI-COLOR3;

$news-twitch-bg:          rgb(100, 65, 164);
$news-twitter-bg:         #1da1f2;
$news-youtube-bg:         #ff0000;

#news-filter
{
    .input-group 
    {
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
        top: 3px;
      }
      @include media-breakpoint-up(md) {
        left: -20px;
        top: 7px;
      }
      @include media-breakpoint-up(lg) {
        left: 0px;
        top: 0px;
      }
    }
}

.news-filter
{
   border:     1px solid $CI-COLOR4;
   padding:    10px 40px;
   max-width:  80%;
   margin:     15px auto 15px;
}

.news-filter-label,
.news-filter-select {
  @include media-breakpoint-up(lg) {
    position: relative;
    top: 3px;
    left: 5px;
  }
}

.news-filter-label
{
    color:$news-filter-label-color;
}

.news-filter-value
{
    margin-right: 5px;
    color:        $news-filter-label-color;
    cursor:       pointer;
    font-weight:  bold;

    > i
    {
       font-weight: normal!important;
    }

    &.active
    {
      color:        $news-filter-value-color;
    }

}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
  outline: none;
}

input[type=search]{
  border-bottom: 2px solid $CI-COLOR1;
}

.input-group .form-control {
  font-size: 14px;
}

.news-filter-select
{
    -webkit-appearance: none;
    background:         none;
    border:             0;
    color:              $news-filter-value-color;
    font-weight: 500;

}

.news-readlater 
{
  position: absolute;
  color: #444;
  bottom: 6px;
  right: 7px;
  background: #FFF;
  padding: 4px 7px;
  border-radius: 100px;
  z-index:9999;
  cursor: pointer;
  &.inactive 
  {
    opacity: 0.75;
  }
}

.news-triangle
{
  position:         absolute;
  top:              0;
  left:             0;
  width:            0px;
  height:           0px;
  -webkit-transform:rotate(360deg);
  border-style:     solid;
  border-width:     30px 30px 0 0;
  border-color:     $CI-COLOR3 transparent transparent transparent;
}

.news-item
{
  padding: 2.5px;
  cursor: pointer;

  .news-element-text
  {
    font-family: 'Bitter', serif;
    font-size: 14px;
    max-height:    70%;
    position:      absolute;
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 90%;
  }

  .news-element-channel-box{
    position: absolute;
    bottom:   30px;
    left:    80px;
    height: 18px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "news-type news-name";
    align-items: center;


    .news-element-channel-type{
      height: 100%;
      text-align: center;
      grid-area: news-type;
      font-size: 16px;
      color: $CI-COLOR10;
      background-color: $CI-COLOR3;
    }

    .news-element-channel-name{
      height: 100%;
      grid-area: news-name;
      padding: 0 20px;
      font-family: Roboto, sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: $CI-COLOR10;
      background-color: $CI-COLOR4;

      span {
        margin: 0 auto;
      }
    }
  }

  &.youtube
  {
      .news-inside
      {
        color:      #FFF;
        border:     1px solid $news-youtube-bg;

        &:hover{
          background: $news-youtube-bg;
        }
      }

      .news-element-text
      {
         position: relative;
         top: 10px;
         cursor: pointer;
         display: block;
         white-space: normal;
         word-break: break-word;
      }

      .news-element-channel-type{
        background-color: $news-youtube-bg;
      }

      .news-triangle
      {
        border-color: $news-youtube-bg transparent transparent transparent;
      }
  }

  &.link
  {

    .news-element-text
    {
      font-weight:   bold;
      width:         43%;
      top:           10px;
    }

    .news-element-channel
    {
    }
  }

  &.twitter
  {

     position: relative;

     .news-inside
     {
       color:      $CI-COLOR1;
       border:     1px solid $news-twitter-bg;

       &:hover{
        background: $news-twitter-bg;
      }
     }

     .news-avatar{
       background-color: $news-twitter-bg;
     }

     .news-element-text
     {
       position: absolute;
       top: 10px;
     }

     .news-element-channel-type{
       background-color: $news-twitter-bg;
     }

     .news-triangle
     {
       border-color: $news-twitter-bg transparent transparent transparent;
     }

  }

  &.twitch
  {

     .news-inside
     {
     color:   #FFF;
     border:  1px solid $news-twitch-bg;
     background:$news-twitch-bg;
     }

     .news-element-text
     {
      position: absolute;
      top: 25px;
    }

     .news-element-channel
     {

       position: absolute;
       bottom:   15px;
       right:    15px;
       cursor:   pointer;
       font-family: Roboto, sans-serif;
       font-size: 16px;
       font-weight: 600;
      }
     .news-triangle
     {
       border-color: $news-twitch-bg transparent transparent transparent;
     }

  }
}

.news-inside
{
  display: flex;
  border:  $meet-border;
  background-color: #fff;
  transition: background .1s linear;

  &:hover .news-element-text{
    color: #fff;
  }

  &:hover > .news-avatar img {
    opacity: 0.5;
  }
}

.news-avatar
{

    position:      relative;
    background:    #fafafa;
    margin-right:  15px;
    cursor:        pointer;

    & > img {
      -webkit-filter: saturate(.9) contrast(.5) brightness(1.4);
      filter: saturate(.9) contrast(.5) brightness(1.4);
      opacity: 0.9;
      transition: .1s opacity linear;
      -webkit-transition: .1s opacity linear;
    }

    .youtube-icon,
    .link-icon,
    img
    {
       width:  $news-avatar-size;
       height: $news-avatar-size;
    }
}

.news-load-more
{
    position:   relative;
    margin:     0 auto;
    max-width:  50%;
    text-align: center;
    border-bottom: 1px solid $CI-COLOR8;

    button
    {
       position:   relative;
       background: #FFF;
       padding:    0 10px;
       top:        12px;
       color:      $CI-COLOR4;

       &:hover
       {
          background: #FFF;
          color:      $CI-COLOR3;
       }

    }

}

.news-logo
{
  opacity:    0.4;
  color:      #FFF;
  position:   absolute;
  right:      15px;
  top:        5px;
  font-size:  60px;
}

// TWITCH CONTAINER

.news_twitch
{
   background: #FFF;

   .chat-messages
   {
   background: #FFF;
   }

   .chat-create-msg
   {
   border-color:$news-twitch-bg;
   }

   .chat-window, .chat-users
   {
   border-bottom:     0;
   border-right:      0;
   border-top:        0;
   border-left-color: $news-twitch-bg;
   }
}

// News for normal link

.news_link
{

   width: 80%;
   margin:0 auto;

   h1
   {
     font-family: 'Bitter', serif;
     color:        #FFF;

     @media all and (min-width: 1000px) {
        padding-left:40px;
     }
   }

   .news_link_inside
   {
     padding:20px;
     font-family: 'Bitter', serif;
     line-height: 120%;
   }

   .news_link_share_user
   {

      padding-top:   20px;
      padding-left:  20px;

      @media all and (min-width: 1000px) {
         text-align:    right;
         padding-right: 10px;
      }

   }

   .news_link_share_time
   {
     font-size:     10px;
     color:         $CI-COLOR4;
     padding-left:  20px;

     @media all and (min-width: 1000px) {
        text-align:    right;
        padding-right: 10px;
     }
   }

   .news-icon
   {

     margin-top:10px;

     @media all and (max-width: 1000px) {
       position: static!important;
       width: 100%!important;
       margin: 10px -20px!important;
     }
   }

   .news-icon-shadow
   {
      border: 1px solid rgba(255,255,255,0.8);
      margin-top:20px;
      @media all and (max-width: 1000px) {
        display: none;
      }
   }

   .news_link_open
   {
      text-align: right;

      @media all and (max-width: 1000px) {
          text-align: center;
          display:    block;
          background: $CI-COLOR9;
          padding:    10px;
          margin:     0 20px;
      }

      @media all and (min-width: 1000px) {
          position:   absolute;
          margin-top: 10px;
          bottom:     auto0;
          right:      10px;
      }
   }

   .news_link_container
   {
     background: #FFF;
     width:      100%;
   }

   .chat-messages
   {
   background: #FFF;
   }

   .chat-create-msg
   {
   border-left:  0;
   border-right: 0;
   border-bottom:0;
   }

   .chat-window, .chat-users
   {
   border-bottom:     0;
   border-right:      0;
   border-top:        0;
   }
}

.news_link_shared_by
{
  background: rgba(0,0,0,0.8);
  padding:    10px;
  color:      #FFF;
  width:      100%;
  margin:     0 0 0 2px;
  top:        0;
}

.notPublished
{
   opacity: 0.4;
}

.news-item
{
   &.featured
   {
       .news-avatar
       {
         width:        100%!important;
         margin-right: 0!important;
       }

       .news-item.twitch .news-element-channel
       {
         position: static!important;
       }

       .youtube-icon,
       .link-icon
       {
          width:  100%!important;
          height: $news-avatar-size;
       }

       img
       {
          width:  100%!important;
          height: auto!important;
       }

       .news-inside
       {
         display:block;
       }

       .news-element-text
       {
         position: static;
         padding:  20px 10px;
       }

   }
}

// News submissions

.news-submit-form
{
   input,
   textarea,
   select
   {
     border-radius: 0.35rem!important;
   }
}

news-twitch,
news-twitter,
news-youtube
{
   .text-check
   {
     display: block;
     color:   #FFF;
     padding: 10px 0;
   }
}

.news-create .modalArea-close,
.news-create .modalArea-close button
{
    color: #000!important;
}
