$chat-avatar-size: 40px;
$chat-border:      $CI-COLOR3;
$chat-loading-bg:  $CI-COLOR3;

.chat-loading
{
   position:  absolute;
   top:       -50px;
   left:      0;
   width:     100%;
   background:$chat-loading-bg;
   padding:   15px;
   color:     #FFF;
   z-index:   999;

   -webkit-transition: top 0.5s ease-out;
   -moz-transition:    top 0.5s ease-out;
   -o-transition:      top 0.5s ease-out;
   transition:         top 0.5s ease-out;

   &.active
   {
     top:0;
   }
}

.chat-avatar
{
   width: $chat-avatar-size;
   height:$chat-avatar-size;
}

.chat-header
{
  font-weight: bold;
}

.chat-subheader
{
  font-weight: lighter;
  font-size:   90%;
  position:    relative;
  top:         -5px;
}

.chat-message
{
   padding: 5px 0;
}

.chat-messages
{
   height:     50vh;
   padding:    20px;
   overflow-y: scroll;
}

.chat-window
{
  overflow: hidden;
  position: relative;
}

.chat-window,
.chat-users
{
  padding:0;
  border: 1px solid $chat-border;
}

.chat-users
{
  padding:    20px;
  margin-top: 10px;

  @include media-breakpoint-up(lg) {

    margin-left: 5px;
    margin-top:  0px;
    flex:        0 0 calc(33.33% - 15px);
    text-align:  right;

  }
}

.chat-create-msg
{
    border-top:1px solid $chat-border;

    textarea
    {
       display: block;
       width:   100%;
       border:  none;
       outline: none;
       padding: 5px;
       resize:  none;
    }

}

.chat-actions
{
    list-style: none;
    padding:    0;
    margin:     0;

    li
    {
        cursor:pointer;
        &:hover
        {
        color:$CI-COLOR3;
        }
    }
}

// Newst messages modal

.messages-list-container
{

   color:#FFF;

   .chats-list
   {
     list-style: none;
     padding:    0;
     margin:     0;
   }

   .chat-item
   {
     list-style: none;
     padding:    0;
     margin:     0 0 10px 0;
   }
}
