$communication-active-color: $CI-COLOR7;

.commnunications
{
    list-style: none;
    padding:    0;
    margin:     0;
}

.communication-item
{
    list-style:    none;
    margin:        0 10px 10px 0;
    display:       inline-block;
    opacity:       0.2;

    &.form
    {
      display:block;
    }

    &.active
    {
       opacity: 1;
       color:   $communication-active-color;
    }

    .input-group-addon
    {
       i {
         font-size:130%;
       }
    }

}
