$friends-request-item-border: 1px solid #FFF;
$friends-request-item-margin: 0 0 5px 0;
$friends-request-item-color:  #FFF;

.friends-requests-headline
{
    color:$friends-request-item-color;
}

.friends-requests-list-container
{
    width:     100%;
    max-width: 680px;
    margin:    auto;
}

.friends-request-list
{
   list-style: none;
   padding:    0;
   margin:     0;
}

.friends-request-item
{
   list-style: none;
   padding:    0;
   margin:     0;
}

.friends-request-item-inner
{
    border:       $friends-request-item-border;
    margin:       $friends-request-item-margin;
    color:        $friends-request-item-color;
    padding:      10px 100px 10px 100px;
    position:     relative;
    min-height:   100px;
}

.friends-request-actions
{
    position: absolute;
    right:    10px;
    top:      10px;

    button
    {
       border:    0;
       background:none;
       color:     $friends-request-item-color;
    }

}

.friends-request-avatar
{
   width:    80px;
   height:   80px;
   position: absolute;
   left:     10px;
   top:      10px;

   > img
   {
      width:  100%;
      height: auto;
   }

}

.friends-request-communications,
.friends-request-games
{

    margin-bottom: 10px;

    h6 {
      text-decoration: underline;
    }

    ul,li
    {
       list-style: none;
       padding:    0;
       margin:     0;
    }

}

.friends-request-communications ul li
{
    display:      inline-block;
    margin-right: 5px;
}
