.logo-log {

  display:      grid;
  height:       100%;
  align-items:  center;

  @include media-breakpoint-down(lg) {

      display:   block;
      margin:    0 auto 40px;
      width:     40%;
      min-width: 250px;

  }

}

.beta
{
    background: red;
    border-radius: 25px;
    padding: 1px 8px;
    position: absolute;
    bottom: -4px;
    right: 0;
    font-size: 11px;
    color: #FFF;

    @include media-breakpoint-down(md) {
        display: none;
    }

    @include media-breakpoint-down(lg) {
        top: 0px;
        bottom:auto;
        right:10px;
    }

}
