.logo-log {

  display:      grid;
  height:       100%;
  align-items:  center;

  @include media-breakpoint-down(lg) {

      display:   block;
      margin:    0 auto 40px;
      width:     40%;
      min-width: 250px;

  }

}
