$news-avatar-size: 150px;
$news-border:      1px solid $CI-COLOR3;

$news-filter-label-color: $CI-COLOR4;
$news-filter-value-color: $CI-COLOR3;

$news-twitch-bg:          rgb(75, 54, 124);
$news-twitter-bg:         #1da1f2;
$news-youtube-bg:         #ff0000;

.news-list
{

}

.news-triangle
{
  position:         absolute;
  top:              0;
  left:             0;
  width:            0px;
  height:           0px;
  -webkit-transform:rotate(360deg);
  border-style:     solid;
  border-width:     30px 30px 0 0;
  border-color:     $CI-COLOR3 transparent transparent transparent;
}

.news-item
{
  padding:1px;
  cursor: pointer;

  .news-element-text
  {
    font-family: 'Bitter', serif;
  }

  &.youtube
  {
      .news-inside
      {
        color:      #FFF;
        border:     1px solid $news-youtube-bg;
        background: $news-youtube-bg;
      }

      .news-element-text
      {
         position: relative;
         top: 10px;
         cursor: pointer;
         width: 80%;
         display: block;
         white-space: normal;
         word-break: break-word;
      }

      .news-element-channel
      {
        position: absolute;
        bottom:   10px;
        right:    10px;
        cursor:   pointer;
      }
  }

  &.link
  {

    .news-element-text
    {
      font-size:     14px;
      font-weight:   bold;
      max-height:    80%;
      position:      absolute;
      overflow:      auto;
      text-overflow: ellipsis;
      width:         43%;
      top:           10px;
    }

    .news-element-channel
    {
      position: absolute;
      bottom:   10px;
      right:    10px;
    }
  }

  &.twitter
  {

     position: relative;

     .news-inside
     {
       color:      #FFF;
       border:     1px solid $news-twitter-bg;
       background: $news-twitter-bg;
     }

     .news-element-text
     {
       font-size: 12px;
       max-height: 80%;
       position: absolute;
       overflow: auto;
       text-overflow: ellipsis;
       width: 43%;
       top: 10px;
     }

     .news-element-channel
     {
       position: absolute;
       bottom:   10px;
       right:    10px;
     }

  }

  &.twitch
  {

     .news-inside
     {
     color:   #FFF;
     border:  1px solid $news-twitch-bg;
     background:$news-twitch-bg;
     }

     .news-element-text
     {
        position: absolute;
        top:      10px;
        cursor:   pointer;
     }

     .news-element-channel
     {
       position: absolute;
       bottom:   10px;
       right:    10px;
       cursor:   pointer;
     }


  }
}

.news-inside
{
  display: flex;
  border:  $meet-border;
}

.news-avatar
{

    position:      relative;
    background:    #fafafa;
    margin-right:  15px;
    cursor:        pointer;


    .youtube-icon,
    .link-icon,
    img
    {
       width:  $news-avatar-size;
       height: $news-avatar-size;
    }
}

.news-load-more
{
    position:   relative;
    margin:     0 auto;
    max-width:  50%;
    text-align: center;
    border-bottom: 1px solid $CI-COLOR8;

    button
    {
       position:   relative;
       background: #FFF;
       padding:    0 10px;
       top:        12px;
       color:      $CI-COLOR4;

       &:hover
       {
          background: #FFF;
          color:      $CI-COLOR3;
       }

    }

}

.news-logo
{
  opacity:    0.5;
  color:      #FFF;
  position:   absolute;
  right:      10px;
  top:        10px;
  font-size:  60px;
}

// TWITCH CONTAINER

.news_twitch
{
   background: #FFF;

   .chat-messages
   {
   background: #FFF;
   }

   .chat-create-msg
   {
   border-color:$news-twitch-bg;
   }

   .chat-window, .chat-users
   {
   border-bottom:     0;
   border-right:      0;
   border-top:        0;
   border-left-color: $news-twitch-bg;
   }
}

// News for normal link

.news_link
{

   width: 80%;
   margin:0 auto;

   h1
   {
     font-family: 'Bitter', serif;
     color:        #FFF;

     @media all and (min-width: 1000px) {
        padding-left:40px;
     }
   }

   .news_link_inside
   {
     padding:20px;
     font-family: 'Bitter', serif;
     line-height: 120%;
   }

   .news_link_share_user
   {

      padding-top:   20px;
      padding-left:  20px;

      @media all and (min-width: 1000px) {
         text-align:    right;
         padding-right: 10px;
      }

   }

   .news_link_share_time
   {
     font-size:     10px;
     color:         $CI-COLOR4;
     padding-left:  20px;

     @media all and (min-width: 1000px) {
        text-align:    right;
        padding-right: 10px;
     }
   }

   .news-icon
   {

     margin-top:10px;

     @media all and (max-width: 1000px) {
       position: static!important;
       width: 100%!important;
       margin: 10px -20px!important;
     }
   }

   .news-icon-shadow
   {
      border: 1px solid rgba(255,255,255,0.8);
      margin-top:20px;
      @media all and (max-width: 1000px) {
        display: none;
      }
   }

   .news_link_open
   {
      text-align: right;

      @media all and (max-width: 1000px) {
          text-align: center;
          display:    block;
          background: $CI-COLOR9;
          padding:    10px;
          margin:     0 20px;
      }

      @media all and (min-width: 1000px) {
          position:   absolute;
          margin-top: 10px;
          bottom:     auto0;
          right:      10px;
      }
   }

   .news_link_container
   {
     background: #FFF;
     width:      100%;
   }

   .chat-messages
   {
   background: #FFF;
   }

   .chat-create-msg
   {
   border-left:  0;
   border-right: 0;
   border-bottom:0;
   }

   .chat-window, .chat-users
   {
   border-bottom:     0;
   border-right:      0;
   border-top:        0;
   }
}

.news_link_shared_by
{
  background: rgba(0,0,0,0.8);
  padding:    10px;
  color:      #FFF;
  width:      100%;
  margin:     0 0 0 2px;
  top:        0;
}

.notPublished
{
   opacity: 0.4;
}

.news-item
{
   &.featured
   {
       .news-avatar
       {
         width:        100%!important;
         margin-right: 0!important;
       }

       .news-item.twitch .news-element-channel
       {
         position: static!important;
       }

       .youtube-icon,
       .link-icon
       {
          width:  100%!important;
          height: $news-avatar-size;
       }

       img
       {
          width:  100%!important;
          height: auto!important;
       }

       .news-inside
       {
         display:block;
       }

       .news-element-text
       {
         position: static;
         padding:  20px 10px;
       }

   }
}

// News submissions

.news-submit-form
{
   input,
   textarea,
   select
   {
     border-radius: 0.35rem!important;
   }
}

news-twitch,
news-twitter,
news-youtube
{
   .text-check
   {
     display: block;
     color:   #FFF;
     padding: 10px 0;
   }
}

.news-create .modalArea-close,
.news-create .modalArea-close button
{
    color: #000!important;
}
