.user-panel {

    align-items: flex-start;

    @include media-breakpoint-down(lg) {

        text-align: center;

    }

}

.user-panel-name {

    @include media-breakpoint-down(lg) {

        text-align: center;

    }

}

.user-panel-username
{
  display:       inline-block;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
  width:         40px;
  position:      relative;
  top:           5px;
}

.user-panel-notifications
{

    > span
    {
      position: absolute;
      left:     10px;
      top:      25px;
    }

    > i
    {
       margin-right: 20px;
    }

}

.user-account-about-txt
{
  height:    120px;
  overflow:  hidden;
}

.user-account-about-txt[contenteditable="true"]
{
  border-color:#FFFFFF;
}
