<div class="user-account">

       <div class="user-headline">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-8 user-headline-name">
                <span class="user-headline-name-element">{{account.user.username}}</span> - <span translate translate-n="account.user.level" translate-plural="Level {{$count}}">Level 1</span>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 user-headline-connect">
                <user-connect user-id="{{account.userId}}"></user-connect>
            </div>
          </div>
       </div>

       <div class="user-account-header">
          <div class="user-account-avatar">
              <img ng-src="{{account.imagePath}}" alt="Useravatar" />
          </div>
          <div class="user-account-about">
              <div class="user-account-about-txt" compile="account.user.about"></div>
              <div class="user-account-edit">
                  <a  ui-sref="app.user.myaccount.edit" ui-sref-active="active"><i class="fas fa-pencil-alt"></i></a>
              </div>
          </div>
       </div>

       <div class="user-content">

          <h2>{{ 'Spiele' | translate }}</h2>

          <ul class="games">
             <li class="game-item" ng-class="account.getClass(game.id)" ng-repeat="game in account.games">{{game.name}}</li>
          </ul>

          <h2>{{ 'Kommunikation' | translate }}</h2>

          <ul class="commnunications">
             <li class="communication-item" ng-class="account.getCommunicationClass(communication.id)" ng-repeat="communication in account.commnunications"><i class="{{communication.icon}}" title="{{communication.name}}"></i></li>
          </ul>

          <h2>{{ 'Plattformen' | translate }}</h2>

          <ul class="plattforms">
             <li class="plattform-item" ng-class="account.getPlattformClass(plattform.id)" ng-repeat="plattform in account.plattforms"><i class="{{plattform.icon}}" title="{{plattform.name}}"></i></li>
          </ul>

          <h2>{{ 'Links und Profile' | translate }}</h2>

          <ul class="links">
             <li class="link-item active" ng-if="account.checkVisiblilty('links','link_id',link.id)" ng-repeat="link in account.links"><i class="{{link.icon}}" title="{{link.name}}"></i> <span compile="account.renderLink('links','link_id',link.id,link)"></span></li>
             <li class="link-item" ng-if="account.linksAmount === 0">{{ 'Keine Links oder Profile verfügbar.' |translate }}</li>
          </ul>

       </div>

</div>
