<div class="user-account">

       <div class="user-headline">
          <div class="row">
            <div class="col-xs-12 col-lg-8 user-headline-name">
                <span class="user-headline-name-element">{{account.user.username}}</span> - <span translate translate-n="account.user.level" translate-plural="Level {{$count}}">Level 1</span>
            </div>
            <div class="col-xs-12 col-lg-4 user-headline-connect">
                <user-connect user-id="{{account.userId}}"></user-connect>
            </div>
          </div>
       </div>

       <div class="user-account-header">
          <div class="user-account-avatar">
              <img src="" alt="Useravatar" />
          </div>
          <div class="user-account-about">
              For characters with weaknesses that force them
              to travel to distant locations (e.g. Searching for Izzie or Smite the Wicked), this card could.
              {{account.about}}
          </div>
       </div>

       <div class="user-content">

          <h2>{{ 'Spiele' | translate }}</h2>

          <h2>{{ 'Kommunikation' | translate }}</h2>

          <h2>{{ 'Plattformen' | translate }}</h2>

          <h2>{{ 'Links und Profile' | translate }}</h2>

       </div>

</div>
