<div class="loginLayout loginLayoutModal">
    <div class="loginElement">

        <div class="loginHeader">
            <a ui-sref="app.start" ui-sref-active="active" >
                <img class="img-r"src="img/logos/logo-log.svg" alt="League of Girls"/>
            </a>
        </div>
        <div class="loginContainer">
            <ul class="loginContainerMenu">
               <li ng-class="modal.getClass(0)"><a ng-click="modal.changeState($event,0)" >{{'Login' | translate}}</a></li>
               <li ng-class="modal.getClass(1)"><a ng-click="modal.changeState($event,1)">{{'Registrieren' | translate}}</a></li>
            </ul>
            <user-login    ng-if="modal.state === 0"></user-login>
            <user-register ng-if="modal.state === 1"></user-register>
        </div>
    </div>
</div>
