<div class="user-panel">
    <ul class="user-panel-list">
      <li class="user-panel-list-item" ng-repeat="link in userpanel.links track by $index">
          {{link}}
      </li>
    </ul>
    <div class="user-panel-name">
        <a class="user-panel-username"  ui-sref="app.user.myaccount"  ui-sref-active="active" ng-if="userpanel.user !== null">{{userpanel.username}}</a>
        <span class="user-panel-login"     ng-click="userpanel.openLogin($event)" ng-if="userpanel.user === null">{{ 'Login' | translate }}</span>
    </div>
</div>
