<div class="news news_link">

   <div class="row">
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
     <h1 compile="ctrl.data.headline"></h1>
     <small class="text-check" ng-if="ctrl.data.published === false">{{'Der Eintrag wird von der Redaktion geprüft, bevor er veröffentlicht wird. Bitte hab Geduld.'}}</small>
   </div>
   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2  margin-bottom">
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true && ctrl.data.featured !== true" ng-click="ctrl.setValue(ctrl.data.uuid,'featured',!ctrl.data.featured)" class="btn btn-primary btn-block">{{'Hervorheben'|translate}}</button>
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true && ctrl.data.featured === true" ng-click="ctrl.setValue(ctrl.data.uuid,'featured',!ctrl.data.featured)" class="btn btn-primary btn-block">{{'Nicht mehr hervorheben'|translate}}</button>
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.setValue(ctrl.data.uuid,'published',!ctrl.data.published)" class="btn btn-success btn-block">{{'Veröffentlichen'|translate}}</button>
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.edit(ctrl.data.uuid)" class="btn btn-primary btn-block">{{'Bearbeiten'|translate}}</button>
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.delete(ctrl.data.uuid)" class="btn btn-danger btn-block">{{'Löschen'|translate}}</button>
     <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true" ng-click="ctrl.setValue(ctrl.data.uuid,'published',!ctrl.data.published)" class="btn btn-danger btn-block">{{'Verstecken'|translate}}</button>
   </div>
   <div class="row news_link_container">
     <div class="col-lg-6 col-xs-12">

        <div class="row">
            <div class="col-xs-12 col-lg-4">

                  <div class="news_link_share_user">
                    <strong>{{ 'Geteilt von:' | translate}}</strong><br>
                    {{ ctrl.data.user.username }}
                  </div>

                  <div class="news_link_share_time">{{ ctrl.MOMENT(ctrl.data.created_at).fromNow()}}</div>

                  <div ng-if="ctrl.data.image != ''" ng-style="ctrl.getStyle(ctrl.data,true)" class="news-icon"></div>
                  <div ng-if="ctrl.data.image != ''" ng-style="ctrl.getStyle(ctrl.data,false)" class="news-icon-shadow"></div>

            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="news-interaction" ng-if="ctrl.data.uuid !== undefined">
                    <news-like class="likes-container" news="ctrl.data"></news-like>
                </div>
                <div class="news-readlater" ng-click="ctrl.readlater(ctrl.data,$event)" ng-if="ctrl.USER !== null && ctrl.USER !== undefined">
                    <i title="{{'Von der Merkliste entfernen'|translate}}" class="fas fa-glasses" ng-if="ctrl.data.readlater === true"></i>
                    <i title="{{'Auf die Merkliste setzen'|translate}}"class="fas fa-glasses deactivated" ng-if="ctrl.data.readlater === false"></i>
                </div>
                <div class="news_link_inside" compile="ctrl.data.text">
                </div>
                <a class="news_link_open" ng-click="ctrl.open(ctrl.data)" ng-if="ctrl.data.url !== '' && ctrl.data.url !== undefined">{{'Auf der Webseite weiterlesen'|translate}}</a>
            </div>
        </div>

     </div>
     <div class="col-lg-6 col-xs-12" compile="ctrl.chat"></div>
   </div>
</div>
