<div class="news news_overview">

  <div class="text-center margin-bottom" ng-if="ctrl.mode !== 'list' && ctrl.mode !== 'featured'">
      <button ng-click="ctrl.submitNews($event,ctrl.currentGame)" class="btn btn-outline-success">{{'News einreichen'|translate}}</button>
  </div>

  <div class="clearfix"></div>

  <div class="news-list row">

      <div class="col-xs-12 col-lg-12 text-center" ng-if="ctrl.data.length === 0 && ctrl.mode !== 'featured'">
          <p>{{'Keine News gefunden.' | translate}}</p>
      </div>

      <div class="news-item" ng-class="ctrl.getCssClass(news)" ng-repeat="news in ctrl.data" ng-click="ctrl.openStream(news)">
          <div class="news-inside">
            <div class="news-avatar">
                <div class="news-triangle"></div>
                <img ng-if="news.type == 'twitch'"  ng-src="{{news.image}}">
                <img ng-if="news.type == 'twitter'" ng-src="{{news.image}}">
                <div ng-if="news.type == 'youtube'" ng-style="ctrl.getStyleForYoutube(news)" class="youtube-icon"></div>
                <div ng-if="news.type == 'link'"    ng-style="ctrl.getStyleForYoutube(news)" class="link-icon"></div>
            </div>
            <div class="news-info">

                <div class="news-element-twitch" ng-if="news.type == 'twitch'">
                     <span class="news-element-text" ng-if="news.live === true">{{'Jetzt ansehen!'|translate}}</span>
                     <span class="news-element-text" ng-if="news.live === false">{{'War live!'|translate}}</span>
                     <span class="news-logo"><i class="fab fa-twitch"></i></span>
                     <span class="news-element-channel">{{ news.channel }}</span>
                </div>

                <div class="news-element-twitch" ng-if="news.type == 'youtube'">
                     <span class="news-element-text" ng-click="ctrl.openStream(news)">{{ news.headline}}</span>
                     <span class="news-logo"><i class="fab fa-youtube"></i></span>
                     <span class="news-element-channel" ng-click="ctrl.openStream(news)">{{ 'Öffnen' | translate }}</span>
                </div>

                <div class="news-element-twitter" ng-if="news.type == 'twitter'">
                     <div class="news-element-text" compile="news.text"></div>
                     <span class="news-element-channel" ng-click="ctrl.openStream(news)">{{ news.channel }}</span>
                </div>

                <div class="news-element-link" ng-if="news.type == 'link'">
                     <div class="news-element-text" compile="news.headline"></div>
                     <span class="news-element-channel" ng-click="ctrl.openStream(news)">{{ 'Mehr lesen' | translate }}</span>
                </div>

            </div>
          </div>
      </div>

  </div>

  <div class="news-load-more" ng-if="ctrl.total !== ctrl.data.length && ctrl.mode !== 'list' && ctrl.mode !== 'featured'">
      <button class="btn btn-link" ng-click="ctrl.loadMore()">{{ 'Mehr Inhalte laden' | translate}}</button>
  </div>

</div>
