<div class="news news_submit">
   <div class="row">
     <div class="col-xs-12 col-lg-12">

       <h1>{{'News einreichen' | translate}}</h1>

       <p class="lead" translate>In unserer News-Sektion veröffentlichen wir Beiträge, die mit der weiblichen E-Sport & Gaming Szene in Verbindung stehen. Eingereicht werden können z.B. Blog- & News-Artikel oder Beiträge aus Social Media und Streaming Kanälen. Bitte fülle alle Felder aus. Die Kurzbeschreibung erscheint in der Preview des Artikels. Nach der Einreichung wird der Artikel von unserer Redaktion überprüft und freigeschaltet.</p>

       <form class="news-submit-form" ng-submit="ctrl.submit(login.fieldData)" name="news.submit.form">
         <formly-form model="ctrl.fieldData" fields="ctrl.fields">

             <!-- ERRORS -->

             <div class="errors error-list-container" ng-if="ctrl.errors.length > 0">
               <ul class="error-list">
                 <li class="error-list-item" ng-repeat="error in ctrl.errors">{{error}}</li>
               </ul>
             </div>

             <!-- SUBMIT CONTAINER -->

             <div class="submit_container">
                 <button type="submit" class="btn btn-outline-success float-right" ng-disable="login.loading">{{ 'News einreichen' | translate }}</button>
             </div>

         </formly-form>
       </form>

     </div>
   </div>
</div>
