<div class="row margin-bottom">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
    <small class="text-check" ng-if="ctrl.data.published === false">{{'Der Eintrag wird von der Redaktion geprüft, bevor er veröffentlicht wird. Bitte hab Geduld.'}}</small>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2  margin-bottom">
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true && ctrl.data.featured !== true" ng-click="ctrl.setValue(ctrl.data.uuid,'featured',!ctrl.data.featured)" class="btn btn-primary btn-block">{{'Hervorheben'|translate}}</button>
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true && ctrl.data.featured === true" ng-click="ctrl.setValue(ctrl.data.uuid,'featured',!ctrl.data.featured)" class="btn btn-primary btn-block">{{'Nicht mehr hervorheben'|translate}}</button>
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.setValue(ctrl.data.uuid,'published',!ctrl.data.published)" class="btn btn-success btn-block">{{'Veröffentlichen'|translate}}</button>
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.edit(ctrl.data.uuid)" class="btn btn-primary btn-block">{{'Bearbeiten'|translate}}</button>
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === false" ng-click="ctrl.delete(ctrl.data.uuid)" class="btn btn-danger btn-block">{{'Löschen'|translate}}</button>
    <button ng-if="ctrl.USER.permissions.indexOf('Admin') > -1 && ctrl.data.published === true" ng-click="ctrl.setValue(ctrl.data.uuid,'published',!ctrl.data.published)" class="btn btn-danger btn-block">{{'Verstecken'|translate}}</button>
  </div>
</div>
<div class="news news_twitch">
   <div class="row">
     <div class="news_link_shared_by">
       {{ 'Geteilt von' | translate}} {{ ctrl.data.user.username }} ({{ ctrl.MOMENT(ctrl.data.created_at).fromNow()}})
       <span class="news-readlater" ng-click="ctrl.readlater(ctrl.data,$event)" ng-if="ctrl.USER !== null && ctrl.USER !== undefined">
          <i title="{{'Von der Merkliste entfernen'|translate}}" class="fas fa-glasses" ng-if="ctrl.data.readlater === true"></i>
          <i title="{{'Auf die Merkliste setzen'|translate}}"class="fas fa-glasses deactivated" ng-if="ctrl.data.readlater === false"></i>
       </span>
       <news-like news="ctrl.data" ng-if="ctrl.data.uuid !== undefined"></news-like>
     </div>
     <div class="col-lg-4 col-xs-12" style="display:grid;padding-right: 0;" compile="ctrl.stream"></div>
     <div class="col-lg-8 col-xs-12" compile="ctrl.chat"></div>
   </div>
</div>
