<div class="settings settings_area">
   <h1 compile="setting.headline"></h1>

   <hr>

   <div class="text-center margin-bottom">
       <button ng-click="setting.createElement()" class="btn btn-outline-success">{{'Element hinzufügen'|translate}}</button>
   </div>

   <datalist show-pagination="true" show-actions="true" data="setting.data" options="setting.options" on-action="setting.onAction" on-pagination="setting.onPagination" on-search="setting.onSearch">
      <datalist-main>
          <strong compile="setting.template">{{$parent.entry.name}}</strong><br/>
          <small ng-if="$parent.entry.published === false">{{'Nicht veröffentlicht' | translate}}</small>
      </datalist-main>
   </datalist>

</div>
