<div class="dashboard dashboard_overview">
   <h1>{{'Hallo' | translate }} {{dashboard.user.username}}!</h1>
   <p class="lead">{{'Schön, dass du dich angemeldet hast!'}}</p>

   <div class="row">

     <!-- News -->

     <div class="col-md-4 col-xs-12">
        <h2>{{'News' | translate}}</h2>
        <news-overview mode="list" filter="nomy"></news-overview>
     </div>

     <!-- Nachrichten -->

     <div class="col-md-4 col-xs-12">
        <h2>{{'Meine News' | translate}}</h2>
        <news-overview mode="list" filter="my"></news-overview>
     </div>

     <!-- Benutzerfunktionen -->

     <div class="col-md-4 col-xs-12">
        <h2>{{'Aktionen' | translate}}</h2>
        <ul class="actions-list">
           <li ng-repeat="link in dashboard.links track by $index" ng-if="link.roles.length === 0 || dashboard.USER.hasRole(link.roles || []) > -1">
              <a ui-sref="{{link.state}}" ui-sref-active="active">{{link.name}}</a>
           </li>
        </ul>
     </div>

   </div>

</div>
